h1{
    color: #586c6c;
    font-size: 34px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

body{
    background-image: url(../images/HiRes1.jpg);
    background-image: no-repeat;
    background-image: center;
    -webkit-background-size:;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    position: static;
    width: 100%;
}

.formless{
     width: 340px;
     height: 500px;
     text-align: center;
}
.textarea{
    height: 100px;
}

#formless{
    text-align: center;

}
